//colors
$primary: rgb(235, 235, 235);
$secondary: rgb(36, 35, 35);
$accent: rgb(252, 252, 164);

//typography
$font-sizes: (
  'title': 35px,
  'subtitle': 25px,
  'normal': 18px,
  'small': 15px,
);

//content
$side-padding: 15px;
$max-width: 1124px;
